<% layout('layouts/boilerplate')%>
<div class="container">
  <div
    id="carouselExampleControls"
    class="mb-5 carousel slide"
    data-ride="carousel"
    style="width: 100%"
  >
    <div class="carousel-inner">
      <% dog.images.forEach((img, index) => { %>
      <div class="carousel-item <%= index === 0 ? 'active' : ''%>">
        <div
          style="
            background: #555;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <img
            src="<%= img.url %>"
            alt="image"
            class="img"
            style="max-width: 100%; max-height: 615px"
          />
        </div>
      </div>
      <% }) %>
    </div>
    <% if(dog.images.length > 1) {%>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon danger" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <% } %>
  </div>

  <h2 class="mb-3 text-center">
    To je <br />
    <span style="color: orange; font-size: 2.5rem"><%= dog.name %></span>
  </h2>
  <h2>
    Sem pasme
    <a
      href="https://google.com/search?q=<%=dog.breed%>"
      target="_blank"
      style="color: orange"
      ><%= dog.breed %></a
    >
    in sem star/a <%= dog.age %> let.
  </h2>
  <p>Trenutni gospodar je <b><%= dog.author.username %></b></p>
  <p style="margin: 0 0 4rem 0;"><%= dog.description %></p>

  <% if( currentUser && dog.author.equals(currentUser._id)) {%>
  <div class="row d-flex justify-content-center align-items-center">
      <a href="/dogs/<%= dog._id %>/edit" class="btn btn-info mr-5">Uredite svojo objavo</a>

      <form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Zbrišite svojo objavo</button>
      </form>
    </div>
  </div>
  <% }%>
</div>
