<% layout('layouts/boilerplate')%>

<div class="container-fluid" style="margin: 0 auto">
  <h1 class="h1 text-center mb-5">Kužki potrebni doma</h1>

  <%if(dogs.length === 0 ){ %>
  <div
    style="
      height: 70vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <h1>Sorry, but thankfully all the puppies found their homes</h1>
  </div>
  <% } %>
</div>

  
<div class="row">
  <% for(let dog of dogs){ %>

  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card mb-5">
      <img
        src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=717&q=80"
        class="card-img-top w-100"
        alt="dog"
      />
      <div class="card-body">
        <h3 class="card-title text-center"> <a href="/dogs/<%= dog._id %> " style="color: orange;"> <%= dog.name %> </a></h3>
        <p>
          Ime mi je <%= dog.name %>  in sem <b><%= dog.breed %></b>. Star sem <b><%= dog.age %></b>
          človeških let. 
        </p>

        <a href="/dogs/<%= dog._id %>" class="btn btn-primary btn-check-out" 
          >Poglej</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
</div>
<style>

  b{
    color: orange;
  }
  
  .btn-check-out{
    background: rgba(255, 165, 0,0.8);
    border: orange;
  }
  
  .btn-check-out:hover{
    background: orange;
  }
</style>